* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
.main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6dfef;
}
.card {
  width: 280px;
  height: 150px;
    background: rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  position: relative;
  overflow: hidden;
  backdrop-filter: blur(18px);
  
}
.layer-blue {
  position: absolute;
  inset: 0;
  background: #4353ff;
  clip-path: path("M0 40 Q150 5 300 40 L300 150 L0 150 Z");
}
.layer-pink {
  position: absolute;
  inset: 0;
  background: #d81cb2;
  clip-path: path("M0 90 Q120 120 240 100 T300 110 L300 150 L0 150 Z");
}
