.main-counter {
  border: 1px solid #787878;
  border-radius: 1rem;
  width: 40%;
  padding: 1rem;
  background: #1a253d;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main-counter .count-para {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}
.mercy-para {
  text-align: center;
  margin-bottom: 1rem;
  color: #a2a2a2;
  transition: all 0.3 ease-in;
}
.main-counter .count-btns {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.main-counter .count-btns button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  color: #fff;
}
.main-counter .count-btns button:nth-child(1) {
  background-color: #a10707;
  color: #fff;
}
.main-counter .count-btns button:nth-child(2) {
  background-color: #07a159;
  color: #fff;
}
.main-counter .count-btns button:hover {
}
