.main-card {
  border: 1px solid #787878;
  border-radius: 1rem;
  width: 300px;
  background: #1a253d;
  margin: 2rem 1rem;
  padding: 1.5rem;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}
.main-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
}
.main-card .profilePic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}
.main-card .name {
  margin: 1rem 0 0.5rem 0;
  font-size: 1.5rem;
}
.main-card .bio {
  color: #acadae;
}
