.main-cr {
  border: 1px solid #787878;
  border-radius: 1rem;
  /* width: 40%; */
  padding: 1rem;
  background: #1a253d;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.global-button{
    padding: 0.3rem;
    margin: 0.4rem;
}