* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* .container {
  height: 100vh;
  width: 100vw;
  background-color: #f3e5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} */
.box {
  height: 150px;
  width: 250px;
  background-color: #e5d7f3;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 20px;
  border: 1px solid #2e0685;
  color: #2e0685;
  font-size: 20px;
  transition: all 1s linear 0s;
  /* animation: tick 60s steps(60) infinite; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.box:hover {
  /* transform: rotate(45deg);
  transform: scale(2); */
  /* transform: skew(20deg, 10deg); */
  /* transform: rotate(45deg) scale(2); */
}
/* @keyframes tick {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
