* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
body {
  width: 100%;
  height: 100%;
  background-color: rgb(219, 226, 232);
  margin: 0px auto;
}
a {
  text-decoration: none;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 1rem;
}
.logo {
  display: flex;

  align-items: center;
}
.logo img {
  width: 30px;
}
.logo p {
  font-size: 1.5rem;
  font-weight: 700;
  padding-left: 0.5rem;
  color: #13171d;
}

.navbar ul {
  display: none;
}
.navbar ul li {
  list-style-type: none;
  color: #13171d;
  padding: 0px 1rem;
}
.navbar ul li a {
  color: #56616e;
  font-size: 1rem;
  font-weight: 600;
  transition: 0.5s;
}
.navbar ul li a:hover {
  color: #6366f1;
}
.contact {
  background-color: #6366f1;
  padding: 0.4rem 1rem;
  border-radius: 0.5rem;
  display: none;
}
.contact a {
  color: #fff;
}
.contact:hover {
  background-color: #4043f3;
  padding: 0.4rem 1rem;
  border-radius: 0.5rem;
}
.hamburger {
  border: none;
  background: none;
  cursor: pointer;
  display: block;
}
.hamburger-icon {
  width: 30px;
}
@media screen and (min-width: 768px) {
  body {
    width: 80%;
  }
  .header {
    margin: 2rem 0px;
  }
  .navbar ul {
    display: flex;
  }
  .contact {
    display: block;
  }
  .hamburger {
    display: none;
  }
}
.main-section {
  width: 90%;
}
.hero-section {
  display: flex;
  justify-content: space-between;

  align-items: center;
}
.hero-left {
  width: 50%;

  animation: slideFromLeft 1s ease forwards;
  padding: 1rem 0px;
}
.left-para1 {
  font-size: 0.8rem;
  color: #6366f1;
}
.left-heading {
  font-size: 1.7rem;
  margin: 0.5rem 0px;
  color: #13171d;
}
.left-description {
  font-size: 1rem;
  line-height: 1.3;
  letter-spacing: 1px;
  color: #6b7280;
}
.btn {
  margin: 2rem 0px;
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.btn button {
  padding: 0.6rem;
  border-radius: 0.3rem;
  cursor: pointer;
}
.started-btn {
  border: none;
  background-color: #6366f1;
  color: #fff;
}
.explore-btn {
  border: 1px solid #6366f1;
  color: #6366f1;
  background: #dedef2;
}
@keyframes slideFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.hero-right {
  width: 40%;
  border-radius: 1.5rem;
}
.hero-right img {
  width: 100%;
  border-radius: 1.5rem;
}
@media (max-width: 768px) {
  .main-section {
    width: 100%;
    padding: 1rem;
  }
  .hero-section {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .hero-left,
  .hero-right {
    width: 100%;
  }
  .btn {
    width: 100%;

    justify-content: start;
    align-items: center;
  }

  .explore-btn {
    margin: 0px 1rem;
  }
}

/* Mini hero Section */
.mini-hero {
  width: 100%;
  margin: 2rem 0px;
}
.mini-hero-heading {
  text-align: center;
  font-size: 1.7rem;
}
.mini-hero-items {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  justify-self: center;
  margin: 1rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #9ca3af;
}
.mini-hero-item {
  display: flex;
  align-items: center;
}
.mini-hero-item span {
  font-size: 1.5rem;
  padding-left: 0.5rem;
  color: #9ca3af;
}
.mini-hero-item img {
  width: 25px;
}
@media (max-width: 768px) {
  .mini-hero-items {
    width: 90%;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    justify-items: center;
  }
}

.feature-container {
  margin: 4rem 0px;
}
.feature-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.feature-heading {
  font-size: 1.7rem;
  margin-bottom: 0.5rem;
}
.feature-description {
  font-size: 1rem;
  line-height: 1.3;
  letter-spacing: 1px;
  color: #6b7280;
  text-align: center;
}
.feature-boxes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin: 2rem 0px;
}
.feature-box {
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
  padding: 1.5rem;
  border-radius: 1.5rem;
  transition: all 0.3s ease;
}
.feature-box:hover {
  transform: scale(1.05);
}
.feature-icon {
  padding: 0.4rem;
  background-color: #fff;
  color: #13171d;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}
.feature-box img {
  width: 25px;
}
.feature-box h3 {
  color: #ffffff;
  margin: 0.5rem 0;
  font-size: 1.1rem;
}
.feature-box p {
  color: #ffffffe6;
  font-size: 0.85rem;
  line-height: 1.4;
  letter-spacing: 0.5px;
}
.feature-box:nth-child(1) {
  background-color: #6c63ff;
}
.feature-box:nth-child(2) {
  background-color: #ff6584;
}
.feature-boxes .feature-box:nth-child(3) {
  background-color: #ffa500;
}
.feature-boxes .feature-box:nth-child(4) {
  background-color: #00bfa6;
}

.feature-boxes .feature-box:nth-child(5) {
  background-color: #c19717;
}

.feature-boxes .feature-box:nth-child(6) {
  background-color: #1e88e5;
}
@media (max-width: 768px) {
  .feature-boxes {
    display: grid;
    grid-template-columns: repeat(1, 1fr);

    margin: 2rem 1rem;
  }
}

.testimonial-container {
  margin: 1rem 0px;
}
.testimonial-header h2 {
  text-align: center;
  font-size: 1.7rem;
  margin: 0.5rem;
}
.testimonials-boxes {
  display: flex;
  padding: 1rem 0px;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .testimonials-boxes {
    display: flex;
    flex-direction: column;
    justify-content: unset;
  }
}
.testimonials-box {
  margin: 1rem;
  padding: 1rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: #ffff;
  border-radius: 1rem;
  transition: all 0.3s ease;
  cursor: pointer;
}
.testimonials-box:hover {
  transform: scale(1.05);
}
.testimonial-author {
  display: flex;
  align-items: center;
}
.author-position {
  font-size: 13px;
  color: rgb(99, 99, 99);
}
.author-comment {
  font-size: 14px;
  letter-spacing: 0.7px;
  line-height: 1.2;
  color: #2e2e2e;
  padding: 0.5rem;
}
.testimonial-author img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 0.7rem;
  border-radius: 50%;
}
.newsletter-container {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0px;
}
.newsletter-imager {
  width: 50%;
  border-radius: 2rem;
}
.newsletter-imager img {
  width: 100%;
  border-radius: 2rem;
}
.newsletter-content {
  width: 50%;
  padding: 2rem;
}
.newsletter-heading {
  font-size: 2rem;
  padding: 0.5rem 0px;
  color: #6c63ff;
}
.newsletter-description {
  font-size: 0.8rem;
  letter-spacing: 1.05px;
  color: gray;
}
.newsletter-form {
  margin-top: 2rem;

  display: flex;
  justify-content: space-between;
}
.email-input {
  padding: 1rem;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  width: 70%;
}
.button {
  padding: 1rem;
  border: none;
  background-color: #6c63ff;
  color: #fff;
  border-radius: 1rem;
}
.terms {
  font-size: 13px;
  margin-top: 0.5rem;
}
@media (max-width: 1100px) {
  .newsletter-imager {
    display: none;
  }
  .newsletter-content {
    width: 100%;
  }
  .newsletter-form {
    flex-direction: column;
  }
  .email-input {
    margin: 1rem 0px;
    width: 100%;
  }
}
.footer-container {
  padding: 2rem 0px;
}
.footer-main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2rem;
}

.companylogo {
  display: flex;
}
.companylogo img {
  width: 30px;
  margin-right: 0.5rem;
}
.companylogo h1 {
  font-size: 1.8rem;
  color: #6c63ff;
}
.company-slogan {
  font-size: 14px;
  padding: 0.3rem 0px;
  color: rgb(75, 99, 134);
}
.socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0px;
}
.socials img {
  width: 25px;
}
.footer-right {
  display: flex;
  width: 60%;
  justify-content: space-between;
}

.footer-right-column h4 {
  padding: 1rem 0px;
  font-size: 1.2rem;
}
.column-item li {
  list-style: none;
  padding: 0.5rem 0px;
}
.column-item li a {
  text-decoration: none;
  color: #6c7f9c;
}
.footer-copyright {
  border-top: 1px solid gray;
  text-align: center;
  padding: 1rem;
}
@media (max-width: 900px) {
  .footer-container {
    margin: 1rem 2rem;
  }
  .footer-main {
    flex-direction: column;
  }
  .footer-left {
    width: 100%;
  }
  .socials {
    justify-content: unset;
  }
  .socials img {
    margin-right: 1rem;
  }
  .footer-right {
    width: 100%;
    flex-direction: column;
  }
}
