* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: #1a1f2b;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.main {
  width: 70%;
  background: #1e2a44;
  flex-direction: column;
  color: #fff;
  /* box-shadow: 0px 0px 10px 0px rgba(31, 38, 56, 0.7); */
  border-radius: 1rem;
  padding-bottom: 2rem;
}
.top {
  padding: 1rem;
}
.heading {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.userAndInput p {
  padding: 0.5rem 0px;
  color: #a0a8b0;
}

.nameAndButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nameAndButton input {
  width: 60%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
}
.nameAndButton button {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  background: #9b59b6;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}
.progressContainer {
  display: none;
  justify-content: space-around;
  gap: 2rem;
  padding: 2rem;
}
.progressItem {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: conic-gradient(
    #299f5d 0deg var(--progress-degree, deg),
    #283a2e var(--progress-degree, 0deg) 360deg
  );
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 2px solid #8892a0;
  transition: background 0.5s ease;
}

.progressItem span {
  position: absolute;
  font-weight: bold;
  color: #fff;
}

.progressItem .label {
  position: absolute;
  bottom: 20px;
  font-size: 0.9rem;
  color: #a0a8b0;
}
